/* css코드 작성 영역 */
h3 {
    color: aqua;
}
h4 {
    color: lime;
}
/*주석내용
외부 스타일의 특징 :
 *공동적으로 적용하여 사용할 수 있다.
 -개발자는 개별적인 부분을 하나로 통일할 수 있다.
 -중복된 부분을 한번에 처리할 수 있다.
  */
h4{
    color: orange;
    }
    